/* 
    @package MyFirst theme 
*/

.myfirst-general-form,
.myfirst-sidebar-preview { 
    /* display: inline-block; */ /* Instructor made a mistake writing inline-blog. not sure he knows. It's not right and working well. Not sure it affects the code */
    float: left;
}

.myfirst-sidebar-preview {
    width: 280px;
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

.myfirst-sidebar {
    display: block;
    text-align: center;
}

h1.myfirst-username,
h2.myfirst-description {
    font-weight: 100;
    color: #fff;
}

.h1.myfirst-username {
    font-size: 24px;
    margin: 0 0 10px;
}

.h2.myfirst-description {
    font-size: 13px;
    margin: 0 0 20px;
}

.image-container {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.profile-picture {
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}